/*浏览器默认样式重置*/
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

