.flex-container a:active {
	
}
.flexslider a:active {
	
}
.flex-container a:focus {
	
}
.flexslider a:focus {
	
}
.slides {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-control-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.flex-direction-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.flexslider {
	margin: 0px; padding: 0px;
}
.flexslider .slides > li {
	display: none; -webkit-backface-visibility: hidden;
}
.flexslider .slides li > img {
	width: 100%; display: block;
}
.flexslider .slides li > a > img {
	width: 100%; display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: "\0020";
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider {
	background: rgb(255, 255, 255); margin: 0px; position: relative; -ms-zoom: 1;
}
.flex-viewport {
	transition:1s; max-height: 2000px; -moz-transition: all 1s ease; -webkit-transition: all 1s ease; -o-transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	-ms-zoom: 1;
}
.carousel li {
	margin-right: 5px;
}
.flex-direction-nav {
	
}
.flex-direction-nav a {
	margin: -28px 0px 0px; transition:0.3s; top: 50%; width: 29px; height: 55px; text-indent: -999em; overflow: hidden; text-decoration: none; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 1;
}
.flex-direction-nav .flex-prev {
	background: url("../images/prev.png"); left: 20px;
}
.flex-direction-nav .flex-next {
	background: url("../images/next.png"); right: 20px;
}
.flex-direction-nav a:hover {
	transition:0.3s; opacity: 0.5;
}
.flex-pauseplay a {
	background: rgb(221, 221, 221); left: 10px; width: 20px; height: 20px; bottom: 5px; color: rgb(0, 0, 0); overflow: hidden; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0.8;
}
.flex-pauseplay a::before {
	font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: "\f004";
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play::before {
	content: "\f003";
}
.flex-control-nav {
	width: 100%; text-align: center; bottom: 55px; position: absolute; z-index: 10;
}
.flex-control-nav li {
	margin: 0px 10px; display: inline-block; -ms-zoom: 1;
}
.flex-control-paging li a {
	width: 40px; height: 8px; text-indent: -9999px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative; cursor: pointer;
}
.flex-control-paging li a.flex-active {
	border-bottom-color: rgb(230, 0, 18); border-bottom-width: 4px; border-bottom-style: solid; cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0px 0px; overflow: hidden; position: static;
}
.flex-control-thumbs li {
	margin: 0px; width: 25%; float: left;
}
.flex-control-thumbs img {
	width: 100%; display: block; cursor: pointer; opacity: 0.7;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	cursor: default; opacity: 1;
}
@media screen and (max-width:1024px)
{
.flexslider {
	padding-top: 0px;
}
}
@media screen and (max-width:768px)
{
.flex-control-nav {
	bottom: 5px;
}
.flex-direction-nav {
	display: none;
}
.flex-control-paging li a {
	width: 25px;
}
}
